{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center col-md-4 mx-auto">
	<form class="form-horizontal w-100 mx-5 mt-5" method="POST">
		<fieldset>

		<!-- Form Name -->
		<legend>Форма добавления поставщика</legend>

		<!-- Text input-->
		<div class="form-group">
		  <label class="col-md-12 control-label" for="creat_sup">Название поставщика</label>
		  <div class="col-md-12">
		  <input required id="creat_sup" name="name_sup" type="text" placeholder="Уникальное название поставщика" class="form-control input-md">
		  </div>
		</div><br>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-12 control-label" for="login_creat_employees_form">Номер телефона</label>
          <div class="col-md-12">
          <input id="login_creat_employees_form" name="phone" type="number" placeholder="Введите номер для связи" class="form-control input-md">
          </div>
        </div><br>

		<!-- Button -->
		<div class="form-group">
		  <label class="col-md-12 control-label" for="button_creat_warehouse"></label>
		  <div class="col-md-12">
			<button id="button_creat_sup" class="btn btn-primary" type="submit" value="creat_wh">Добавить поставщика</button>
		  </div>
		</div>

		</fieldset>
    </form>

</div>
{% endblock %}